sudo: false

language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

install:
  - composer install --no-interaction --prefer-dist

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

# Upload coverage data to Scrutinizer
after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
